<h1>Listings</h1>

<table>
  <thead>
    <tr>
	  <th>Image</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @listings.each do |listing| %>
      <tr>
		<%= image_tag listing.image.url(:medium) %>
        <%= listing.name %>
        <%= listing.description %>
        <%= listing.price %>
        <%= link_to 'Show', listing, class: "btn btn-link" %> |
        <%= link_to 'Edit', edit_listing_path(listing), class: "btn btn-link" %> |
        <%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Listing', new_listing_path, class: "btn btn-link" %>
